%a#gist{:href => "#"} Gist it!

.info-container
  .info
    .header Request URL
    .value= event.request_url

.info-container
  .toggle
    .toggle-headers
      %a{:href => '#', :class => 'selected'}
        %h3 Request Headers
    .toggle-body
      %a{:href => '#'}
        %h3 Request Body

  - JSON.parse(event.request_headers || '{}').each do |k,v|
    .info.headers
      .header= k
      .value= v
  .info.body= event.request_body.to_s

.info-container
  .toggle
    .toggle-headers
      %a{:href => '#', :class => 'selected'}
        %h3 Response Headers
    .toggle-body
      %a{:href => '#'}
        %h3 Response Body
  - JSON.parse(event.response_headers || '{}').each do |k,v|
    .info.headers
      .header= k
      .value= v
  .info.body= event.response_body.to_s

