<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
    %title proxee.io
    %link{:href => "/stylesheets/style.css", :rel => "stylesheet"}
    %script{:type => 'text/javascript', :src => '/javascripts/jquery.min.js'}
  %body
    %h1 proxee.io
    %a#reset{:href => "#"} Clear all
    #container
      #sidebar
        - @events.each_with_index do |e, i|
          %ul
            %li
              %a{:href => '#', :class => i == 0 ? 'selected event' : 'unselected event', :'data-id' => e.id}
                %h2= e.request_url
                %p= "HTTP #{e.request_verb} &middot; #{e.response_code}"

      #main
        - if(first_event = @events.first).present?
          = haml(:'_event_details', :locals => { :event => first_event })

  :javascript
    $('.event').click(function() {
      var eventId = $(this).attr('data-id');
      $.get('/events/' + eventId);
      $('.selected').removeClass('selected');
      $(this).addClass('selected');
    });

    $('.toggle a').click(function() {
      var selectedElem = $(this);
      var previouslySelectedElem = $(this).parent().parent().find('a.selected');

      previouslySelectedElem.removeClass('selected');
      selectedElem.addClass('selected');

      if(selectedElem.parent().attr('class').match(/body/)) {
        var grandParent = selectedElem.parent().parent().parent();
        grandParent.find('.info.body').show();
        grandParent.find('.info.headers').hide();
      }

      if(selectedElem.parent().attr('class').match(/headers/)) {
        var grandParent = selectedElem.parent().parent().parent();
        grandParent.find('.info.body').hide();
        grandParent.find('.info.headers').show();
      }
    });

